.dropdown {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	z-index: 100;
	transition: var(--transition);
}
.dropdown:hover {
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
	backdrop-filter: blur(1rem);
	animation: ascendopacity 0.5s ease-in-out;
	animation-fill-mode: forwards;
	transition: var(--transition);
}
.selected {
	display: block;
	height: 30px;
	width: fit-content;
	padding: 0 10px;
	margin-inline: 5px;
	margin-bottom: 5px;
	line-height: 30px;
	cursor: pointer;
	color: #fff;
	border-radius: var(--border-radius);
	background-color: hsla(0, 0%, 100%, 0.24);
	transition: var(--transition);
}
.dropdown:hover .selected {
	color: var(--color);
	transition: var(--transition);
}

.dropdown-content {
	position: relative;
	display: none;
	padding-left: 5px;
	transition: var(--transition);
}
.dropdown:hover .dropdown-content {
	display: block;
	animation: ascendopacity 0.5s ease-in-out;
	animation-fill-mode: forwards;
	transition: var(--transition);
}
@keyframes ascendopacity {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
