:root {
	--transition: all 0.3s ease-out;
	--color: #172b4d;
	--border-radius: 3px;
	--vscrollbarBG: #d9dce2;
	--vthumbBG: #bdc3cd;
	--hscrollbarBG: hsla(0, 0%, 100%, 0.24);
	--hthumbBG: hsla(0, 0%, 100%, 0.24);
}

.section-container {
	background: transparent;
	width: 258px;
	margin-block: 5px;
	margin-left: -2px;
	overflow-y: auto;
	overflow-x: hidden;
}
.section-container::-webkit-scrollbar {
	width: 9px;
	scrollbar-width: thin;
	scrollbar-color: var(--vthumbBG) var(--vscrollbarBG);
}
.section-container::-webkit-scrollbar-track {
	border-radius: 9px;
	border: 3px solid var(--vscrollbarBG);
	background: var(--vscrollbarBG);
}
.section-container::-webkit-scrollbar-thumb {
	border-radius: 9px;
	background-color: var(--vthumbBG);
}

.dragdrop-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
	height: 100vh;
}
.dragdrop-container::-webkit-scrollbar {
	width: 3px;
	height: 12px;
	padding: 5px;
	scrollbar-width: thin;
	scrollbar-color: var(--hthumbBG) var(--hscrollbarBG);
}
.dragdrop-container::-webkit-scrollbar-thumb {
	height: 12px;
	padding: 5px;
	scrollbar-width: thin;
	border-radius: 10px;
	background-color: var(--hthumbBG);
}

.left {
	display: flex;
	justify-content: left;
}
.right {
	display: flex;
	justify-content: right;
}

.padding-inline {
	color: #fff;
	padding: 1px 5px;
}
.xlg {
	margin-top: 3px;
	font-size: x-large;
	font-weight: 300;
}
.lg {
	margin-top: 5px;
	font-size: 20px;
	font-weight: 300;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px 10px;
	display: flex;
	background: rgba(0, 0, 0, 0.24);
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: 60px;
	z-index: 2;
}

.board-menu {
	display: block;
	height: 30px;
	width: fit-content;
	padding: 0 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 30px;

	cursor: pointer;
	color: #fff;
	border-radius: var(--border-radius);
	background-color: hsla(0, 0%, 100%, 0.24);
	transition: var(--transition);
}
.board-menu:hover {
	color: var(--color);
	transition: var(--transition);
}

.sections {
	left: 0;
	display: flex;
	margin-top: 60px;
	padding-left: 10px;
	flex: 1 1;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.24) 0,
		rgba(0, 0, 0, 0.24) 48px,
		transparent 80px,
		transparent
	);
}

.section-header {
	flex: 0 0 auto;
	justify-content: center;
	position: relative;
	min-height: 20px;
}

.section-title {
	padding-top: 3px;
	overflow: hidden;
}
.section-title-name {
	background: transparent;
	border-radius: 3px;
	box-shadow: none;
	cursor: pointer;
	font-weight: 600;
	font-family: inherit;
	color: var(--color);
	outline: none;
	line-height: 1.5;
	border: none;
	overflow: hidden;
	margin: -4px 0;
	width: 87%;
	height: 28px;
	min-height: 20px;
	padding: 4px 8px;
	resize: none;
	max-height: 256px;
}
.mod-title-name {
	cursor: text;
	background-color: #fff;
	box-shadow: inset 0 0 0 2px #0079bf;
}

.section-header-extras {
	position: absolute;
	right: 0px;
	top: -2px;
	padding: 5px 7px;
	border-radius: 50%;
	cursor: pointer;
	transition: var(--transition);
}
.section-header-extras span {
	font-weight: 800;
	color: #464a50;
	background-color: transparent;
	transition: var(--transition);
}
.section-header-extras:hover {
	background-color: rgba(9, 30, 66, 0.08);
	color: var(--color);
	transition: var(--transition);
}

.section-wrapper {
	height: 90vh;
	z-index: 0;
}

.section {
	display: flex;
	justify-content: center;
	flex-flow: column;
	flex: 1;

	width: 100%;
	min-width: 270px;
	max-width: 270px;
	height: fit-content;
	max-height: 780px;

	border-radius: var(--border-radius);
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
	backdrop-filter: blur(1rem);
	margin-right: 10px;
	padding-block: 10px;
	padding-left: 10px;
	padding-right: 5px;
	transition: var(--transition);
}
.section-item {
	position: relative;
	display: block;

	margin-top: 2px;
	margin-bottom: 8px;
	margin-right: 5px;
	padding: 6px 8px 2px;

	max-width: 300px;
	min-height: 20px;

	text-decoration: none;
	background-color: #fff;
	color: var(--color);
	border-radius: var(--border-radius);
	box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
	cursor: pointer;
	transition: var(--transition);
}
.section-item:hover {
	background-color: whitesmoke;
	transition: var(--transition);
}

.content {
	display: flex;
	margin: 0px 0px 4px;
	justify-content: space-between;
}

.card-section-composer {
	display: flex;
	padding-right: 10px;
	cursor: pointer;
	color: #5e6c84;
	transition: var(--transition);
}
.card-section-composer span {
	font-size: x-large;
	font-weight: 300;
	padding-inline: 5px;
}
.color-invert {
	color: inherit;
}
.color-default {
	color: var(--color);
}
.new-item-textarea {
	overflow: hidden;
	resize: none;
	min-height: 60px;
	max-height: 200px;

	min-width: 253px;
	max-width: 253px;

	line-height: 20px;
	outline: none;
	font-family: inherit;
	border: none;

	position: relative;
	display: block;

	margin-bottom: 8px !important;
	margin-left: -2px;
	padding: 6px 8px 10px;

	background-color: #fff;
	color: var(--color);
	border-radius: var(--border-radius);
	box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
	transition: var(--transition);
}

.new-section-input {
	display: block;
	margin: 0;
	transition: margin 85ms ease-in, background 85ms ease-in;
	width: 100%;

	width: 100%;
	outline: none;
	font-family: inherit;
	line-height: 20px;
	border: none;

	position: relative;
	display: block;

	margin: 2px 0px;
	margin-bottom: 8px;
	padding: 6px 8px 10px;

	background-color: #fff;
	color: var(--color);
	border-radius: var(--border-radius);
	box-shadow: inset 0 0 0 2px #0079bf;
	transition: var(--transition);
}

.section.transparent {
	color: #5e6c84;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
	box-shadow: 6px 6px 20px rgb(122 122 122 / 21%);
	-webkit-backdrop-filter: blur(1rem);
	backdrop-filter: blur(1rem);
	transition: var(--transition);
}

.section.transparent:hover {
	color: var(--color);
	background-color: hsla(0, 0%, 100%, 0.24);
}

.add-card-actions {
	display: flex;
	width: fit-content;
}

.add-card-button {
	width: fit-content;
	padding-inline: 10px;
	height: 25px;
	border-radius: 18px;
	margin-right: 10px;

	border: none;
	box-shadow: none;
	background-color: #5aac44;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: var(--transition);
}
.add-card-button:hover {
	background-color: #61bd4f;
	transition: var(--transition);
}

.close-button {
	font-size: x-large;
	line-height: 26px;
	color: #6b778c;
	cursor: pointer;
	transition: var(--transition);
}
.close-button:hover {
	color: var(--color);
	transform: rotateZ(90deg);
	transition: var(--transition);
}

.button-container {
	width: 99%;
	background-color: transparent;
	border-radius: var(--border-radius);
	transition: var(--transition);
}
.mblock-10 {
	padding-block: 10px;
}
.mblock-5 {
	padding-block: 5px;
}
.button-container:hover,
.button-container.mblock-5:hover,
.button-container.mblock-10:hover {
	background-color: rgba(9, 30, 66, 0.08) !important;
	transition: var(--transition);
}

.edit {
	background-color: #f4f5f7;
	background-clip: padding-box;
	background-origin: padding-box;
	color: #172b4dc4;
	border-radius: 50%;
	opacity: 0;
	padding: 2px 4px;
	position: absolute;
	right: 2px;
	top: 5px;
	z-index: 40;
	transition: var(--transition);
}
.edit:hover {
	color: var(--color);
	background-color: #ebecf0;
}
.section-item:hover .edit {
	opacity: 1;
	transition: var(--transition);
}
.hovered {
	border-style: dashed;
	background: rgba(9, 30, 66, 0.08) !important;
	transition: var(--transition);
}
.animate-drop {
	transform: skewY(3deg);
	transition: var(--transition);
}
.invisible {
	opacity: 0;
	transition: var(--transition);
}

.descendform {
	animation: ascendopacity 0.3s ease-in-out;
}

.button-container:hover .card-section-composer p {
	color: var(--color);
	transition: var(--transition);
}

.board-content {
	background: transparent;
	position: relative;
	top: 44px;
	margin-bottom: 80px;
}
.form {
	background-color: #0079bf;
	background-size: cover;
	background-position: 50%;
	border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	height: 96px;
	padding: 10px 10px 10px 16px;
	position: relative;
	width: 296px;
}
.form-close {
	color: #fff;
	float: right;
	position: relative;
	right: -2px;
	top: -2px;
}
.form-input {
	border: none !important;
	background: transparent !important;
	box-shadow: none;
	box-sizing: border-box;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
		Helvetica Neue, sans-serif;
	font-size: 16px;
	font-weight: 700;
	left: -8px;
	line-height: 24px;
	margin-bottom: 4px;
	padding: 2px 8px;
	position: relative;
	width: calc(100% - 18px - 16px);
}
