:root {
	--transition: all 0.3s ease-out;
	--color: #172b4d;
	--border-radius: 3px;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	justify-content: center;
	overflow-y: auto;
	z-index: 3;
}
.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.65);
}

.modal-container {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	margin-block: 5%;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-inline: 10px;

	width: auto;
	min-width: 100px;
	max-width: 768px;
	height: auto;
	min-height: 400px;

	overflow: hidden;
	z-index: 101;
	background-color: #fff;
	color: var(--color);
	border-radius: var(--border-radius);
	box-shadow: 15px 15px 50px rgb(9 30 66 / 50%);
}

.modal-header {
	display: flex;
	justify-content: space-between;
	margin: 12px 10px 8px 10px;
	min-height: 32px;
	position: relative;
}
.modal-body {
	display: flex;
	width: 97%;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 10px;
}
.d-flex {
	display: flex;
	align-items: flex-start;
}
.d-flex-column {
	display: flex;
	width: 97%;
	flex-direction: column;
	align-items: flex-start;
}

.d-flex h2,
.d-flex h3 {
	padding-top: 3px;
	padding-left: 15px;
}

.title-icon {
	color: #42526e;
	width: 25px;
	height: 25px;
}
.close-icon {
	color: #42526e;
	width: 30px;
	height: 30px;
	cursor: pointer;
	padding: 3px;
	border-radius: 50%;
	background-color: hsla(0, 0%, 100%, 0.24);
	z-index: 1;
	transition: var(--transition);
}
.close {
	width: -moz-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: fit-content;
}
.close.modal {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}
.close.board {
	display: flex;
	align-items: center;
	position: relative;
	top: 2px;
	width: -moz-fit-content;
	width: fit-content;
}
.close.board .close-icon {
	width: 25px;
	height: 25px;
	padding: 2px;
}
.close:hover .close-icon {
	background-color: #ebecf0;
	color: var(--color);
	transform: rotateZ(-90deg);
	transition: var(--transition);
}
.close-board-label {
	z-index: 0;
	opacity: 0;
	display: none;
	cursor: pointer;
	transition: var(--transition);
}
.close:hover .close-board-label {
	display: block;
	padding-block: 2px;
	padding-right: 10px;
	border-radius: 20px;
	background-color: hsla(0, 0%, 100%, 0.24);
	animation: deleteboard 0.7s infinite alternate;
	transition: var(--transition);
}
@keyframes deleteboard {
	0% {
		opacity: 0;
		padding-left: 0;
		transform: translateX(-30px);
	}
	100% {
		opacity: 1;
		padding-left: 27px;
		transform: translate(-20px);
	}
}
.title {
	width: 100%;
	align-items: center;
}

.section-link {
	display: flex;
	padding-block: 7px;
	padding-left: 40px;
}
.section-link span {
	padding-left: 5px;
	text-decoration: underline;
	cursor: pointer;
}

.description {
	padding-left: 35px;
	padding-block: 15px;
}
