.modal-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	justify-content: center;
	overflow-y: auto;
	z-index: 3;
}
.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	backdrop-filter: blur(0.5rem);
	/* background-color: rgba(0, 0, 0, 0.65); */
}

.modal-container {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	margin-block: 5%;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-inline: 10px;

	width: auto;
	min-width: 100px;
	max-width: 768px;
	height: auto;
	min-height: 400px;

	overflow: hidden;
	z-index: 101;
	background-color: #fff;
	color: var(--color);
	border-radius: var(--border-radius);
	box-shadow: 15px 15px 50px rgb(9 30 66 / 50%);
}

.modal-header {
	display: flex;
	justify-content: space-between;
	margin: 12px 10px 8px 10px;
	min-height: 32px;
	position: relative;
}
.modal-body {
	display: flex;
	width: 97%;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 10px;
}

.title-icon {
	color: #42526e;
	width: 25px;
	height: 25px;
}
.close-icon {
	color: #42526e;
	width: 30px;
	height: 30px;
	cursor: pointer;
	padding: 3px;
	border-radius: 50%;
	background-color: hsla(0, 0%, 100%, 0.24);
	z-index: 1;
	transition: var(--transition);
}
.close {
	width: -moz-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: fit-content;
}
.close.modal {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

.title {
	width: 100%;
	align-items: center;
}

.section-link {
	display: flex;
	padding-block: 7px;
	padding-left: 40px;
}
.section-link span {
	padding-left: 5px;
	text-decoration: underline;
	cursor: pointer;
}

.description {
	padding-left: 35px;
	padding-block: 15px;
}
