:root {
	--transition: all 0.3s ease-out;
	--color: #172b4d;
	--border-radius: 3px;
	--vscrollbarBG: #d9dce2;
	--vthumbBG: #bdc3cd;
	--hscrollbarBG: hsla(0, 0%, 100%, 0.24);
	--hthumbBG: hsla(0, 0%, 100%, 0.24);
}

.section-container {
	background: transparent;
	width: 258px;
	margin-left: -2px;
	overflow-y: auto;
	overflow-x: hidden;
}
.section-container::-webkit-scrollbar {
	width: 9px;
	scrollbar-width: thin;
	scrollbar-color: var(--vthumbBG) var(--vscrollbarBG);
}
.section-container::-webkit-scrollbar-track {
	border-radius: 9px;
	border: 3px solid var(--vscrollbarBG);
	background: var(--vscrollbarBG);
}
.section-container::-webkit-scrollbar-thumb {
	border-radius: 9px;
	background-color: var(--vthumbBG);
}

.dragdrop-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 10px;
	padding-bottom: 26px;
	overflow-x: auto;
	height: 100vh;
}
.dragdrop-container::-webkit-scrollbar {
	width: 3px;
	height: 12px;
	padding: 5px;
	scrollbar-width: thin;
	scrollbar-color: var(--hthumbBG) var(--hscrollbarBG);
}
.dragdrop-container::-webkit-scrollbar-thumb {
	height: 12px;
	padding: 5px;
	scrollbar-width: thin;
	border-radius: 10px;
	background-color: var(--hthumbBG);
}

.left {
	display: flex;
	justify-content: left;
}
.right {
	display: flex;
	justify-content: right;
}
.board-menu {
	height: 30px;
	margin-right: 5px;

	padding: 0 10px;
	line-height: 30px;

	cursor: pointer;
	color: #fff;
	border-radius: var(--border-radius);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 0, rgba(0, 0, 0, 0.24) 48px, transparent 80px, transparent);
}
.padding-inline {
	color: #fff;
	padding: 1px 5px;
}
.lg {
	font-size: xx-large;
	font-weight: 300;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.sections {
	display: flex;
	padding-top: 60px;
	flex: 1;
	width: 100%;
	height: 100%;
}

.section-header {
	flex: 0 0 auto;
	justify-content: center;
	position: relative;
	min-height: 20px;
}

.section-title {
	padding-top: 3px;
	overflow: hidden;
}
.section-title-name {
	background: transparent;
	border-radius: 3px;
	box-shadow: none;
	cursor: pointer;
	font-weight: 600;
	font-family: inherit;
	color: var(--color);
	outline: none;
	line-height: 1.5;
	border: none;
	overflow: hidden;
	margin: -4px 0;
	width: 87%;
	height: 28px;
	min-height: 20px;
	padding: 4px 8px;
	resize: none;
	max-height: 256px;
}
.mod-title-name {
	cursor: text;
	background-color: #fff;
	box-shadow: inset 0 0 0 2px #0079bf;
}

.section-header-extras {
	position: absolute;
	right: 0px;
	top: -2px;
	padding: 5px 7px;
	border-radius: 50%;
	cursor: pointer;
	transition: var(--transition);
}
.section-header-extras span {
	font-weight: 800;
	color: #6b778c;
	transition: var(--transition);
}
.section-header-extras:hover,
.section-header-extras span:hover {
	background-color: lightgray;
	color: var(--color);
	transition: var(--transition);
}

.section-wrapper {
	height: 90vh;
	z-index: 0;
}

.section {
	display: flex;
	justify-content: center;
	flex-flow: column;
	flex: 1;

	width: 100%;
	min-width: 270px;
	max-width: 270px;
	height: fit-content;
	max-height: 780px;

	border-radius: var(--border-radius);
	background-color: #ebecf0;
	margin-right: 10px;
	padding-block: 10px;
	padding-left: 10px;
	padding-right: 5px;
	transition: var(--transition);
}
.section-item {
	position: relative;
	display: block;

	margin-top: 2px;
	margin-bottom: 8px;
	margin-right: 5px;
	padding: 6px 8px 2px;

	max-width: 300px;
	min-height: 20px;

	text-decoration: none;
	background-color: #fff;
	color: var(--color);
	border-radius: var(--border-radius);
	box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
	cursor: pointer;
	transition: var(--transition);
}
.section-item:hover {
	background-color: whitesmoke;
	transition: var(--transition);
}

.content {
	display: flex;
	justify-content: space-between;
}

.card-section-composer {
	display: flex;
	align-items: center;
	padding-right: 10px;
	width: fit-content;
	cursor: pointer;
	height: 25px;
	border-radius: 18px;
	color: #5e6c84;
	border: 1px transparent solid;
	transition: var(--transition);
}
.card-section-composer span {
	font-size: x-large;
	font-weight: 300;
	padding-inline: 8px;
}
.color-white {
	color: #fff;
}
.card-section-composer:hover {
	background-color: lightgray;
	color: var(--color);
	border: 1px #6b778c solid;
	transition: var(--transition);
}

.new-item-textarea {
	min-height: 60px;
	max-height: 200px;

	min-width: 253px;
	max-width: 253px;

	line-height: 20px;
	outline: none;
	font-family: inherit;
	border: none;

	position: relative;
	display: block;

	margin-bottom: 8px !important;
	margin-left: -2px;
	padding: 6px 8px 10px;

	background-color: #fff;
	color: var(--color);
	border-radius: var(--border-radius);
	box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
	transition: var(--transition);
}

.new-section-input {
	display: block;
	margin: 0;
	transition: margin 85ms ease-in, background 85ms ease-in;
	width: 100%;

	width: 100%;
	outline: none;
	font-family: inherit;
	line-height: 20px;
	border: none;

	position: relative;
	display: block;

	margin: 2px 0px;
	margin-bottom: 8px;
	padding: 6px 8px 10px;

	background-color: #fff;
	color: var(--color);
	border-radius: var(--border-radius);
	box-shadow: inset 0 0 0 2px #0079bf;
	transition: var(--transition);
}

.transparent {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 0, rgba(0, 0, 0, 0.24) 48px, transparent 80px, transparent);
}

.add-card-actions {
	display: flex;
	width: fit-content;
}

.add-card-button {
	width: fit-content;
	padding-inline: 10px;
	height: 25px;
	border-radius: 18px;
	margin-right: 10px;

	border: none;
	box-shadow: none;
	background-color: #5aac44;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: var(--transition);
}
.add-card-button:hover {
	background-color: #61bd4f;
	transition: var(--transition);
}

.remove-card-button {
	font-size: x-large;
	line-height: 26px;
	color: #6b778c;
	cursor: pointer;
	transition: var(--transition);
}
.remove-card-button:hover {
	color: var(--color);
	transform: rotateZ(90deg);
	transition: var(--transition);
}

.mt-10 {
	margin-top: 10px;
}
.mt-5 {
	margin-top: 5px;
}

.edit {
	padding: 2px 4px;
	width: 25px;
	border-radius: 50%;
	height: 25px;
	cursor: pointer;
	color: #6b778c;
	opacity: 0;
	transition: var(--transition);
}
.edit:hover {
	background-color: lightgray;
	color: var(--color);
	opacity: 1;
	transition: var(--transition);
}
.show {
	opacity: 1;
	transition: var(--transition);
}
.hovered {
	border-width: 3px;
	border-style: dashed;
	transition: var(--transition);
}
.animate-drop {
	transform: skewY(3deg);
	transition: var(--transition);
}
.invisible {
	opacity: 0;
	transition: var(--transition);
}
