:root {
	--transition: all 0.3s ease-out;
}

.drag-drop-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 0;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.lists {
	display: flex;
	flex: 1;
	width: 100%;
	overflow-x: auto;
}

.list-header {
	flex: 0 0 auto;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-inline: 8px;
	position: relative;
	font-size: 15px;
	min-height: 20px;
}
.list-header-extras {
	position: absolute;
	right: 5px;
	top: 2px;
	cursor: pointer;
}
.list-header-extras.span {
	padding: 6px;
}

.lists .list {
	display: flex;
	flex-flow: column;
	flex: 1;

	width: 100%;
	min-width: 250px;
	max-width: 250px;
	height: fit-content;
	min-height: 50px;

	border-radius: 3px;
	background-color: #ebecf0;
	margin: 0 15px;
	padding: 8px;
	transition: var(--transition);
}

.lists .list .list-item {
	margin: 2px 0px;
	padding: 10px 15px;
	text-align: center;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
	cursor: pointer;
	display: block;
	margin-bottom: 8px;
	max-width: 300px;
	min-height: 20px;
	position: relative;
	text-decoration: none;
	z-index: 0;
	transition: var(--transition);
}
.lists .list .list-item:hover {
	background-color: whitesmoke;
	transition: var(--transition);
}

.footer {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px 5px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 3px;
	color: darkgray;
	transition: var(--transition);
}
.footer:hover {
	background-color: lightgray;
	color: #172b4d;
	transition: var(--transition);
}

.hovered {
	border-width: 3px;
	border-style: dashed;
	padding-top: 6px;
	padding-inline: 0px;
	transition: var(--transition);
}

.hold {
	border: solid 5px blue;
}

.invisible {
	display: none;
}
